body {
    padding-top: 0px;
    padding-bottom: 0px;
}

html, body {
    max-width: 100%;
}

.vl {
    border-left: 2px solid green;
    height: 500px;
}


a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        color: black;
        text-decoration: none;
        background-color: transparent;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}


::-webkit-scrollbar {
}

.lg\:w-1\/2 {
    width: 100%;
}

img {
    background-size:cover;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*navbar*/
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.3);
     border-color: rgba(0,0,0,0); 
}

nav button:focus {
    outline: 0px auto -webkit-focus-ring-color; 
}

/*buttons*/

.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px solid transparent;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.17rem;
    border-radius: 50px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary:focus, .btn-primary.focus {
    color: black;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
}

.btn-neu {
    border-radius:0 0 80px 0px ;
    color: black;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
}
    .btn-neu:active {
        color: black;
        background-color: #E0E5EC;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    }

    .btn-neu:hover {
        color: black;
        background-color: #E0E5EC;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    }

.btn-neu-pre {
    border-radius: 0 0 0px 80px;
    color: black;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
}

    .btn-neu-pre:active {
        color: black;
        background-color: #E0E5EC;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    }

    .btn-neu-pre:hover {
        color: black;
        background-color: #E0E5EC;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    }

.btn-neu-blog {
    border-radius: 20px;
    color: black;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
}

    .btn-neu-blog:active {
        color: black;
        background-color: #E0E5EC;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    }

    .btn-neu-blog:hover {
        color: black;
        background-color: #E0E5EC;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    }

/*datatables*/

div.dataTables_wrapper div.dataTables_info {
    padding-top: 1rem;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 1rem 0;
    white-space: nowrap;
    justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    border: 1px solid grey;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0;
    color: black;
}

/*Compare box*/

.compare-box-right {
    background: rgba(1, 7, 53, 0.1);
    border-bottom-right-radius: 80px;
    -webkit-box-shadow: 0 0 80px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 20px 20px 80px 20px rgba(0, 0, 0, 0.6);
    background: linear-gradient(to right, #14aff5, #23d0ec);
    margin-bottom: 30px;
}

.compare-box {
    padding: 50px 60px 20px 60px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #fe86a7, #6078EA);
}

/*cards*/



.card-body-T {
    border-bottom-right-radius: 80px;
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
    -webkit-box-flex: 1;
    background: linear-gradient(to right, #14aff5, #23d0ec);
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/*selections*/

::-moz-selection { /* Code for Firefox */
    color: #dc624b;
    background: #00FFFF;
}

::selection {
    color: #dc624b;
    background: #00FFFF;
}

/*heading*/

.headingss {
    margin-left:10px
}

/*img*/

.prevent-img {
    background-size:cover;
    height:650px;
    border-bottom-left-radius: 80px;
    -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
}
    .prevent-img:hover {
        transition: 0.4s ease;
        opacity: 0.7;
        cursor: pointer;
}

.faq-img {
    background-size: cover;
    height: 650px;
    border-bottom-right-radius: 80px;
    -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
}

    .faq-img:hover {
        transition:0.4s ease;
        opacity: 0.7;
        cursor:pointer;
    }

.img-prev img{
    max-width:100%;
    height:auto
}


/*Icons*/

.symptoms-icons {
}

/*Linear-Headings*/

.linear-heading {
    background-image: linear-gradient(35deg, #fe86a7 0%, #6078EA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Jumbotron section*/

.main-jumbo {
    min-height: 480px;
    background: linear-gradient( rgba(20,20,20, .7), rgba(20,20,20, .5)), url('../../Images/fusion-medical-animation-rnr8D3FNUNY-unsplash1.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-animation: MoveUpDown 65s linear infinite;
}

.main-jumbo-prev {
    min-height: 480px;
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)), url('../../Images/woman-holding-sign-3951615.jpg');
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat
}

.main-jumbo-news {
    min-height: 380px;
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)), url('../../Images/stack-of-newspapers-3866816.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.jumbo-heading {
    margin-left:60px
}

.jumbo-section {
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)), url('../Images/de-an-sun--o0A00pF8P0-unsplash.jpg');
    background-size: cover;
    background-position: center left;
}

    .jumbo-section  h1{
        font-size: 60px;
    }

    .jumbo-section p {
        font-size: 18px;
    }

.jumbo-section-end {
    background: linear-gradient( rgba(20,20,20, .8), rgba(20,20,20, .6)), url('../Images/mix-race-people-crowd-protective-masks-epidemic-stop-coronavirus-concept-wuhan-pandemic-medical-health-risk-portrait-horizontal_48369-23140.jpg');
    background-size: cover;
    background-position: center bottom;
}

    .jumbo-section-end h1 {
        font-size: 60px;
    }

    .jumbo-section-end p {
        font-size: 18px;
    }

.jumbo-section-end-btn {
    background-image: linear-gradient(35deg, #fe86a7 0%, #6078EA 100%);
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    z-index: -1;
    text-decoration: none -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
    .jumbo-section-end-btn:hover {
        -webkit-transition: opacity 1s linear;
        -moz-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        transition: opacity 1s linear;
        background: linear-gradient(to right, #14aff5, #23d0ec);
    }

.jumbotron {
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
}
/*Media-Query*/
@media screen and (min-width: 768px ) {
    .prevent-img {
        background-size: cover;
        height: 680px;
        border-bottom-left-radius: 80px;
        -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
    }

    .faq-img {
        background-size: cover;
        height: 650px;
        border-bottom-right-radius: 80px;
        -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        margin-left:20px
    }

    .jumbo-heading {
        margin-left: 80px
    }

    .jumbo-section h1 {
        font-size: 60px;
    }

    .jumbo-section p {
        font-size: 18px;
    }

    .jumbo-section-end h1 {
        font-size: 80px;
    }

    .jumbo-section-end p {
        font-size: 22px;
    }
}

@media screen and (max-width: 991px ) {
    #banner-area {
        display:none
    }
    #banner-text {
        display:none

    }
    .prevent-img {
        background-size: cover;
        height: 450px;
        border-bottom-left-radius: 80px;
        -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
    }

    .faq-img {
        background-size: cover;
        height: 450px;
        border-bottom-right-radius: 80px;
        -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
    }

    .card-title {
        font-size:22px
    }
    .card-text{
        font-size:16px
    }

    .jumbo-section h1 {
        font-size: 50px;
    }

    .jumbo-section p {
        font-size: 18px;
    }

    .jumbo-section-end h1 {
        font-size: 50px;
    }

    .jumbo-section-end p {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px ) {
    .prevent-img {
        background-size: cover;
        height: 650px;
        border-bottom-left-radius: 80px;
        -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        width:100%
    }

    .faq-img {
        background-size: cover;
        height: 650px;
        border-bottom-right-radius: 80px;
        -webkit-box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        box-shadow: 20px 0px 80px 10px rgba(0, 0, 0, 0.6);
        width: 100%
    }


    .card-title {
        font-size: 2rem
    }

    .card-text {
        font-size: 1.25rem
    }

    .jumbo-heading {
        margin-left: 5px
    }

    .jumbo-section h1 {
        font-size: 40px;
        text-align:left
    }

    .jumbo-section p {
        font-size: 18px;
    }

    .main-jumbo-prev h1 {
        font-size: 40px;
        text-align: left
    }

    .main-jumbo-prev p {
        font-size: 18px;
    }

    .jumbo-section-end h1 {
        font-size: 40px;
        text-align: left
    }

    .jumbo-section-end p {
        font-size: 18px;
    }

    .main-jumbo h1 {
        font-size: 40px
    }

    .main-jumbo-news h1 {
        font-size: 40px;
        text-align: left
    }
}

/*Footer*/

footer p {
    font-size:20px;
    color:black
}

/*icons*/

.icon-prev img {
    width: 100px;
    height: 100px;
}


/*form*/

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f7f7f9;
    color: #55595c;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 0;
}

textarea {
    width: 100%;
    height:100px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0px solid #ced4da;
    background-color: #f7f7f9;
}

.carousel-item-div {
    padding-top: 8px;
    border-radius: 16px;
    color: black;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
}

@-webkit-keyframes MoveUpDown {
    from {
        background-position: center top;
    }
    to {
        background-position: center bottom;
    }
}

.owl-nav {
    text-align:center;
    font-size:80px;
    margin-top:-50px
}

.owl-next {
    margin-left:40px;
    padding:0px 100px
}
