@{
    ViewBag.Title = "Preventation";
}

    <div class="container">
        <div class="breadcumb-content" style="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Preventation</li>
                </ol>
            </nav>
        </div>
    </div>

@*Jumbotron Section*@
    
<div class="jumbotron jumbotron-fluid align-text-bottom main-jumbo-prev">
    <div class="col-8 text-left jumbo-heading">
        <h1 class="display-4 text-light mt-5">Protecting yourself and others from the spread<span style="background-image: linear-gradient(35deg, #fe86a7 0%, #6078EA 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">COVID-19</span></h1>
        <p class="lead text-light">You can reduce your chances of being infected or spreading COVID-19 by taking some simple precautions:</p>
    </div>
</div>

<div class="container mt-5">
    <div class="col-md col-md-offset text-center">
        <h5 class="mt-3 mb-3"><span class="linear-heading">HOW TO STAY SAFE</span></h5>
        <h2>Important Precautions</h2>
        <p>Follow these simple precautions to reduce your chances of contracting the new coronavirus, which causes the disease known as COVID-19.</p>
    </div>
    <hr />
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">

                <h1 class="text-center mb-4">THINGS NOT TO DO</h1>
                <div class="row">
                    <div class="col-md-12 d-flex mt-5">
                        <div class="icon-prev" data-aos="fade-right">
                            <img src="~/Icons/diet.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Do Not Share Eating</h3>
                            <p class="mt-2">Stop having food around those who ask you for it.</p>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex mt-5">
                        <div class="icon-prev" data-aos="fade-right">
                            <img src="~/Icons/do-not-touch.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Don’t Touch Your Face or Nose</h3>
                            <p class="mt-2">Avoid animals, animal markets, and products that come from animals.</p>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex mt-5">
                        <div class="icon-prev" data-aos="fade-right">
                            <img src="~/Icons/quarantine.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Avoid Contact with Sick People</h3>
                            <p class="mt-2">
                                Avoid close contact with anyone showing symptoms of respiratory
                                illness.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex mt-5 mb-5">
                        <div class="icon-prev" data-aos="fade-right">
                            <img src="~/Icons/avoid-crowds.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Avoid Crowded Places (Social Distancing)</h3>
                            <p class="mt-2">
                                As an individual, you can lower your risk of
                                infection by reducing your rate of contact with other people.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-5">

                <h1 class="text-center mb-4 mt-2">THINGS YOU SHOULD DO</h1>
                <div class="row">
                    <div class="col-md-12 d-flex mt-5">
                        <div class="icon-prev" data-aos="fade-left">
                            <img src="~/Icons/hand-wash.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Wash Your Hands For 20sec</h3>
                            <p class="mt-2">Wash hands often with soap and water for at least 20 seconds.</p>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex mt-5">
                        <div class="icon-prev" data-aos="fade-left">
                            <img src="~/Icons/facemask.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Wear a Mask if Available</h3>
                            <p class="mt-2">You should continue to use the surgical mask in all public places until you are advised.</p>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex mt-5">
                        <div class="icon-prev" data-aos="fade-left">
                            <img src="~/Icons/sneeze.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Cover Nose When Sneezing</h3>
                            <p class="mt-2">
                                Cover your mouth and nose with a tissue or your sleeve (not your hands) when
                                coughing or sneezing.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex mt-5 mb-5">
                        <div class="icon-prev" data-aos="fade-left">
                            <img src="~/Icons/syringe.png" class="mr-5" alt="" />
                        </div>
                        <div class="icon-prev-text mt-3">
                            <h3>Seek Medical Care Regularly</h3>
                            <p class="mt-2">
                                Regular health checks can identify any early signs of health
                                issues.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="img-prev" data-aos="zoom-out">
        <img src="http://covid.gov.pk/theme_img/core-img/prev-img.jpg" class="img-fluid" alt="Responsive image" />
    </div>
</div>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
                <div class="rounded-lg h-64 overflow-hidden ml-4">
                    <iframe width="426" height="240"
                            src="https://www.youtube.com/embed/rAj38E7vrS8">
                    </iframe>
                </div>
                <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Global Covid-19 Preventation</h2>
                <p class="leading-relaxed text-base">This short animated video from Stanford Medicine's Maya Adam illustrates how the novel coronavirus — the virus that causes the respiratory disease COVID-19 — is transmitted among people and how transmission can be prevented.</p>
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
                <div class="rounded-lg h-64 overflow-hidden ml-4">
                    <iframe width="426" height="240"
                            src="https://www.youtube.com/embed/8dlUqlMDkR4">
                    </iframe>
                </div>
                <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Preventing COVID-19 in your workplace</h2>
                <p class="leading-relaxed text-base">There are simple things you can do to keep yourself, your colleagues at work and your family members protected from COVID-19. Watch this short animation and learn how to prevent COVID-19 in your workplace or while teleworking.</p>
            </div>
        </div>
    </div>
</section>

@*jumbotron section*@

<div class="jumbotron jumbotron-fluid jumbo-section-end mt-5" id="module">
    <div class="container my-5">
        <h1 class="text-light">Stay Home <span class="linear-heading">Stay Safe </span></h1>
        <p class="lead text-light">The information may be changed or updated to ensure that it's the latest and up-to-date to meet the website viewers needs and requirements.</p>
        <a class="btn btn-primary jumbo-section-end-btn" href="@Url.Action("Index", "Posts")" target="_blank">
            Click here to find latest news
        </a>
    </div>
</div>

